body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

input,
textarea {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    color: #333;
    width: 200px;
    height: 30px;
    margin: 5px;
}

label,
input[type="text"],
input[type="submit"] {
    display: block;
}

.input-group {
    flex-basis: calc(50% - 25px);
    margin-bottom: 10px;
}

label,
input[type="text"],
input[type="submit"],
textarea {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.input-group.full-width {
    flex-basis: 100%;
}

textarea {
    height: 100px;
}
.centered-content {
    text-align: center;
}
.centered-content p {
    display: block;
    margin: 10px auto;
    width: 50%;
}
