body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    width: 300px;
}

input,
textarea {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    color: #333;
    width: 200px;
    height: 30px;
    margin: 5px;
}

label,
input[type="text"],
input[type="submit"] {
    display: block;
}

.form-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
}

.input-group {
    flex-basis: calc(50% - 25px);
    margin-bottom: 10px;
}

label,
input[type="text"],
input[type="submit"],
textarea {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.input-group.full-width {
    flex-basis: 100%;
}

textarea {
    height: 100px;
}
.centered-content {
    text-align: center; /* Pour centrer le texte à l'intérieur du conteneur */
}
.centered-content p {
    display: block; /* Assure que chaque paragraphe est sur une nouvelle ligne */
    margin: 10px auto; /* Ajoute de l'espace autour de chaque paragraphe et centre le contenu horizontalement */
    width: 50%; /* Modifiez la largeur selon vos besoins */
}
